@page "/TaskList"
@using TodoApp.Client.Components
@using static TodoApp.Models.SD;
@inject IConfiguration Configuration

<h1>Todo Task</h1>
@if (Tasks is null)
{
    <Loading />
}
else
{
    <div class="row">
        <TaskSearch OnSearch="TaskSearch" />
    </div>
    <div class="row mt-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Priority</th>
                    <th>Assignee</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Tasks)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Priority</td>
                        <td>@item.AssigneeName</td>
                        <td>@item.CreatedAt.ToString(Configuration["DateTimeFormat"])</td>
                        <td>@item.Status</td>
                        <td>
                            <a class="btn btn-primary" href="/TaskDetail/@item.Id">Detail</a>
                            <a class="btn btn-success" href="/TaskUpdate/@item.Id">Update</a>
                            <button class="btn btn-danger" @onclick="()=>OnDeleteTask(item.Id)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <Confirmation 
        ConfirmationTitle="@($"Delete task")" 
        ConfirmationMessage="@($"Are you sure to delete")" 
        @ref="Confirmation"
        ConfirmationChanged="OnConfirmDeleteTask" />
}